button {
  border-radius: 5px;
  height: 27px;
  width: 80px;
  margin-left: 10px;
  background-color: #FFFFFF;
  color: #009DA5;
}

footer {
  background-color: #009DA5;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  padding: 10px;
  font-family: "roboto";
}

.button:hover {
  opacity: 0.5;
}

.button:focus {
  color: #FFFFFF;
  background-color: #009DA5;
  outline: none;
}

.contact-footer {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.email {
  border-radius: 5px;
  height: 27px;
  border: thin;
  margin-left: 10px;
  outline: none;
}

.icon {
  display: flex;
  justify-content: space-between;
}

.instagram, .pinterest {
  padding: 0 12px;
}

.top {
  color: #FFFFFF;
}

@media only screen and (max-width: 480px) {
  footer {
    display: none;
  }
}
