
@font-face{
	font-family: 'Mexicana';
	src:url('Fonts/cf_mexicana/CFMexicanaPERSONALUSE-Regul.ttf');
	}


header{
	width:110%;
	height:255px;
	margin:-22px;
	padding-top:70px;
	
	}

	header.brasil{background-image: url('ImagesPages/title_resized/dessert-74568_1920.jpg');
	background-size: cover;}
	header.chile{background-image: url('ImagesPages/title_resized/chile-693065.jpg');
	background-size: cover;}
	header.mexico{background-image: url('ImagesPages/title_resized/landscape-695030.jpg');
	background-size: cover;}
	header.peru{background-image: url('ImagesPages/title_resized/peru-2532604.jpg');
	background-size: cover;}

	h1{
		position: relative;
    	/*left: 22%;*/
     	top: 12%;
		font-family: 'Mexicana';
		font-size:5rem; 
		font-weight:lighter;
		margin-left: 250px;
		color: white;		
		}

	@media(max-width:641px){
	header{
		width:110%;
		height:255px;
		margin:-22px;
		padding-top:70px;
		}



	header.brasil{background-image: url('ImagesPages/title_resized/dessert-74568_1920.jpg');
	background-size: cover;}
	header.chile{background-image: url('ImagesPages/title_resized/chile-693065.jpg');
	background-size: cover;}
	header.mexico{background-image: url('ImagesPages/title_resized/landscape-695030.jpg');
	background-size: cover;}
	header.peru{background-image: url('ImagesPages/title_resized/peru-2532604.jpg');
	background-size: cover;}
	

	h1{
		text-align: center;
		margin-left: 10px;
     	top: 22%;
		font-family: 'Mexicana';
		font-size:3.5rem; 
		font-weight:lighter;
		color: white;
		}


					}